<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clever Criterion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" href="/home.css">
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/topics">Home</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a href="/topics/new">Create New Topic</a></li>
      <li>
        <form action="/search" method="GET">
          <input type="text" name="tags" placeholder="Search Tags">
        </form>
      </li>
      <li>
        <a class="welcome">Welcome to the Clever Criterion a Movie Discussion Forum</a>
      </li>
    </ul>
  </section>
</nav>

<% var divisions = 0%>
<% topics.forEach(function(topic){%>
  <div class="<%if(divisions%2===0){%>grey-div<% divisions++}else if(divisions%2===1){%>blue-div<%divisions++}%>">
    <div class="row">
    <h1 class=" small-10 columns"> <a href="/topics/<%= topic.id%>"><%= topic.title%></a></h1> 
      <div class="small-1 columns">
        <a href="/topics/<%=topic.id%>/voteup"> <li class="fa fa-thumbs-up"></li> </a>
        <a href="/topics/<%=topic.id%>/votedown"> <li class="fa fa-thumbs-down"></li> </a>
        <p class=""><%= topic.votes%></p>
      </div>
    </div>
    <div class="row">
    <p class=" small-2 large-4 columns"> User: <%= topic.username%></p>
    </div>
  </div>
<%})%>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/foundation.min.js"></script>
<script src="/home.js"></script>
<script>
  $(document).foundation();
</script>

</body>
</html>